{% extends 'layout.html'%}
{% load static %}
{% load auth_extras %}
{% block title %}
Branchs
{% endblock %}
{% block body %}
{% include "partials/_session.html" %}
<div class="row">
    <div class="col-md-12  col-sm-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-user"></i>Branches
                </div>
                {% if perms.branches.can_deleteall_branches %}
                <div class="actions">

                    <form method="post" action="{% url 'branches:deleteall'  %}" style="display: inline-block;">
                        {% csrf_token %}
                        <input type="hidden" name="record_ids" id="record-ids">
                        <button type="submit" class="btn btn-default btn-sm   show-alert-delete-box" id="bulk-delete"
                            disabled="true"><i class="fa fa-trash"></i> Delete </button>
                    </form><!-- end of form -->

                </div>
                {%endif%}
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover" id="sample_2">
                    <thead>
                        <tr>

                            <th> Branch Name </th>
                            <th> Options </th>

                            {% if perms.branches.can_deleteall_branches %}
                            <th class="table-checkbox">
                                <input type="checkbox" class="group-checkable" data-set="#sample_2 .checkboxes" />
                            </th>
                            {%endif%}
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in branches %}
                        <tr class="odd gradeX">

                            <td> {{ item.name }} </td>
                            <td class="center">
                                {% if perms.branches.delete_branch %}
                                <form action="{% url 'branches:delete' item.id %}" style="display:inline;"
                                    method="POST">
                                    {% csrf_token %}
                                    <button type="submit" title="delete"
                                        class="btn default btn-xs black show-alert-delete-box">
                                        <i class="fa fa-trash-o"></i>
                                    </button>
                                </form>
                                {% endif %}
                                {% if perms.branches.change_branch %}
                                <a href="{% url 'branches:update' item.id %}" title="update"
                                    class="btn default btn-xs purple">
                                    <i class="fa fa-edit"></i></a>
                                {% endif %}
                            </td>
                            {% if perms.branches.can_deleteall_branches %}
                            <td>
                                <input type="checkbox" name="key" class=" checkboxes record__select "
                                    value="{{ item.id}}" />
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
{% endblock %}
{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
<script src="{% static 'admin_assets/js/alert.js' %}" type="text/javascript"></script>
<script src="{% static 'admin_assets/global/plugins/select2/select2.min.js' %}"
    type="text/javascript"></script>
<script
    src="{% static 'admin_assets/global/plugins/datatables/media/js/jquery.dataTables.min.js' %}"
    type="text/javascript"></script>
<script
    src="{% static 'admin_assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js' %}"
    type="text/javascript"></script>
<script src="{% static 'admin_assets/admin/pages/scripts/table-branches.js' %}" type="text/javascript"></script>
<script>
    jQuery(document).ready(function () {
        Metronic.init(); // init metronic core components
        TableManaged.init();
    });
</script>
{% endblock %}