{% extends 'layout.html'%}
{% load static %}
{% block title %}
{% if pk%} Edit Group {% else %} Add New Group {% endif %}
{% endblock %}
{% block css %}
<link href="{% static 'admin_assets/css/error_style.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-12 ">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i> Group
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"> </a>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-body">
                    <div class="form-group">
                        <form action="" method="post" class="mt-repeater horizontal-form">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group form-group {% if form.errors.name %}has-error{% endif %} }}">
                                        <label class="control-label">Group Name <span style="color: red"> * </span></label>
                                        {{form.name}}
                                        {% if form.errors.name %}
                                        <div role="alert">
                                            <span style="color: red;">{{form.errors.name}}</span>
                                        </div>
                                        {% endif%}
                                    </div>
                                    <div class="form-group form-group">
                                        <label class="control-label">Permissions </label>
                                        <!-- {{form.permissions}} -->
                                        <select name="permissions" style="height: 400px;" class="form-control" multiple>
                                            {% for item in permissions %}
                                            <!-- group_permissions -->
                                            {% if item.id in group_permissions %}
                                            <option selected value="{{item.id}}">{{item.name}}</option>
                                            {% else %}
                                            <option value="{{item.id}}">{{item.name}}</option>
                                            {% endif %}
                                            {% endfor %}
                                        </select>
                                        {% if form.errors.permissions %}
                                        <div role="alert">
                                            <span style="color: red;">{{form.errors.permissions}}</span>
                                        </div>
                                        {% endif%}
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions right">
                                <button type="submit" class="btn blue" id="add_btn">
                                    <i class="fa fa-check"></i> Add </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}